<!-- <button [ngStyle]="setStyle()"  (click)="showNotify()">click me</button> -->
<!-- <button mat-button>Click me!</button> -->
<!-- <button mat-mini-fab color="basic" >
    <mat-icon class="icon24">attach_file</mat-icon>
  </button>
  <button mat-icon-button aria-label="Example icon-button with a heart icon">
    <mat-icon>favorite</mat-icon>
  </button> -->


<button mat-button class="btn-primary btn-lg" >Button</button>
<button mat-button class="btn-primary btn-md" >Button</button>
<button mat-button class="btn-primary btn-md btn-disabled">Button</button>
<button mat-button class="btn-primary btn-sm">Button</button>
<button mat-button class="btn-outline btn-lg">Button</button>
<button mat-button class="btn-outline btn-md">Button</button>
<button mat-button class="btn-outline btn-sm btn-disabled">Button</button>
<button mat-button class="btn-dashed btn-sm ">Button</button>