<!-- <button [ngStyle]="setStyle()"  (click)="showNotify()">click me</button> -->
<!-- <button mat-button>Click me!</button> -->
<!-- <button mat-mini-fab color="basic" >
    <mat-icon class="icon24">attach_file</mat-icon>
  </button>
  <button mat-icon-button aria-label="Example icon-button with a heart icon">
    <mat-icon>favorite</mat-icon>
  </button> -->

<h4>Button Primary Text Only</h4>
<button mat-button class="btn-primary btn-lg" >Button</button>
<button mat-button class="btn-primary btn-md" >Button</button>
<button mat-button class="btn-primary btn-sm">Button</button>
<button mat-button class="btn-primary btn-sm btn-disabled">Button</button>

<br>
<h4>Button Outline Text Only</h4>
<button mat-button class="btn-outline btn-lg">Button</button>
<button mat-button class="btn-outline btn-md">Button</button>
<button mat-button class="btn-outline btn-sm">Button</button>
<button mat-button class="btn-outline btn-sm btn-disabled">Button</button>
<br>
<h4>Button Dashed Text Only</h4>
<button mat-button class="btn-dashed btn-lg ">Button</button>
<button mat-button class="btn-dashed btn-md ">Button</button>
<button mat-button class="btn-dashed btn-sm ">Button</button>
<button mat-button class="btn-dashed btn-sm btn-disabled">Button</button>
<br>
<h4>Button Primary Icon Left</h4>
<button mat-button class="btn-primary btn-lg">Button<mat-icon class="lg-icon">mic</mat-icon></button>
<button mat-button class="btn-primary btn-md">Button<mat-icon class="md-icon">mic</mat-icon></button>
<button mat-button class="btn-primary btn-sm">Button<mat-icon class="sm-icon">mic</mat-icon></button>
<button mat-button class="btn-primary btn-sm btn-disabled">Button<mat-icon class="sm-icon">mic</mat-icon></button>
<br>
<h4>Button Outline Icon Left</h4>
<button mat-button class="btn-outline btn-lg">Button<mat-icon class="lg-icon">mic</mat-icon></button>
<button mat-button class="btn-outline btn-md">Button<mat-icon class="md-icon">mic</mat-icon></button>
<button mat-button class="btn-outline btn-sm">Button<mat-icon class="sm-icon">mic</mat-icon></button>
<button mat-button class="btn-outline btn-sm btn-disabled">Button<mat-icon class="sm-icon">mic</mat-icon></button>
<br>
<h4>Button Dashed Icon Left</h4>
<button mat-button class="btn-dashed btn-lg">Button<mat-icon class="lg-icon">mic</mat-icon></button>
<button mat-button class="btn-dashed btn-md">Button<mat-icon class="md-icon">mic</mat-icon></button>
<button mat-button class="btn-dashed btn-sm">Button<mat-icon class="sm-icon">mic</mat-icon></button>
<button mat-button class="btn-dashed btn-sm btn-disabled">Button<mat-icon class="sm-icon">mic</mat-icon></button>
<br>
<h4>Button Primary Icon Right</h4>
<button mat-button class="btn-primary btn-lg"><mat-icon class="lg-icon">mic</mat-icon>Button</button>
<button mat-button class="btn-primary btn-md"><mat-icon class="md-icon">mic</mat-icon>Button</button>
<button mat-button class="btn-primary btn-sm"><mat-icon class="sm-icon">mic</mat-icon>Button</button>
<button mat-button class="btn-primary btn-sm btn-disabled"><mat-icon class="sm-icon">mic</mat-icon>Button</button>
<br>
<h4>Button Outline Icon Right</h4>
<button mat-button class="btn-outline btn-lg"><mat-icon class="lg-icon">mic</mat-icon>Button</button>
<button mat-button class="btn-outline btn-md"><mat-icon class="md-icon">mic</mat-icon>Button</button>
<button mat-button class="btn-outline btn-sm"><mat-icon class="sm-icon">mic</mat-icon>Button</button>
<button mat-button class="btn-outline btn-sm btn-disabled"><mat-icon class="sm-icon">mic</mat-icon>Button</button>
<br>
<h4>Button Dashed Icon Right</h4>
<button mat-button class="btn-dashed btn-lg"><mat-icon class="lg-icon">mic</mat-icon>Button</button>
<button mat-button class="btn-dashed btn-md"><mat-icon class="md-icon">mic</mat-icon>Button</button>
<button mat-button class="btn-dashed btn-sm"><mat-icon class="sm-icon">mic</mat-icon>Button</button>
<button mat-button class="btn-dashed btn-sm btn-disabled"><mat-icon class="sm-icon">mic</mat-icon>Button</button>
<br>
  <br>
  <button mat-button class="btn-primary btn-lg btn-square"><mat-icon class="lg-icon">favorite</mat-icon></button>
  <br>
